{% extends 'bases/base.html' %}
{% block content %}


    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(/static/img/bg-img/17.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">Blog Left Sidebar</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog Left Sidebar</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->

    <!-- Blog Area Start -->
    <div class="roberto-news-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">

                    {% for item in articles %}
                    {% if forloop.counter < 6 %}
                    <!-- Single Blog Post Area -->
                    <div class="single-blog-post d-flex align-items-center mb-50 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <a href="#"><img src="{{ item.image.url }}" alt=""></a>
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <a href="#" class="post-author">{{ item.date_add| date:"M d, Y" }}</a>
                                <a href="#" class="post-tutorial">{{ item.categorie.nom|truncatewords:'2' }}</a>
                            </div>
                            <!-- Post Title -->
                            <a href="#" class="post-title">{{ item.titre }}</a>
                            <p>{{ item.contenu }}</p>
                            <a href="{% url 'singleblog' item.id %}" class="btn continue-btn">Read More</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                    <!-- Pagination -->
                    <nav class="roberto-pagination wow fadeInUp mb-100" data-wow-delay="600ms">
                        <ul class="pagination">
                            {% if articles.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ articles.previous_page_number }}"> <i class="fa fa-angle-left"></i> Preview  </a>
                                </li>
        
                            {% endif %}
                           
                            <li class="page-item"><a class="page-link" href="">Page number {{ articles.number }}</a></li>
            
                            {% if articles.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ articles.paginator.num_pages }}">next <i class="fa fa-angle-right"></i></a>
                            {% endif %}
                        </ul>
                    </nav>
                </div>

                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="roberto-sidebar-area pl-md-4">

                        <!-- Newsletter -->
                        <div class="single-widget-area mb-100">
                            <div class="newsletter-form">
                                <h5>Newsletter</h5>
                                <p>Subscribe our newsletter gor get notification new updates.</p>
                                
                                <form action="#" method="post">
                                    <input type="email" name="nl-email" id="nlEmail" class="form-control" placeholder="Enter your email...">
                                    <button type="submit" class="btn roberto-btn w-100">Subscribe</button>
                                </form>
                            </div>
                        </div>

                        <!-- Recent Post -->
                        <div class="single-widget-area mb-100">
                            <h4 class="widget-title mb-30">Recent News</h4>
                            {% for item in article %}
                            {% if forloop.counter >= 2 %}
                            {% if forloop.counter <= 5 %}
                            <!-- Single Recent Post -->
                            <div class="single-recent-post d-flex">
                                <!-- Thumb -->
                                <div class="post-thumb">
                                    <a href="{% url 'singleblog' item.id %}"><img src="{{ item.image.url }}" alt=""></a>
                                </div>
                                <!-- Content -->
                                <div class="post-content">
                                    <!-- Post Meta -->
                                    <div class="post-meta">
                                        <a href="#" class="post-author">{{ item.date_add| date:"M d , Y"}}</a>
                                        <a href="#" class="post-tutorial">{{ item.categorie.nom|truncatewords:'1' }}</a>
                                    </div>
                                    <a href="{% url 'singleblog' item.id %}" class="post-title">{{ item.titre }}</a>
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}
                            {% endfor %}

                            
                        </div>

                        <!-- Popular Tags -->
                        <div class="single-widget-area mb-100 clearfix">
                            <h4 class="widget-title mb-30">Tags</h4>
                            <!-- Popular Tags -->
                            <ul class="popular-tags">
                                {% for item in tags %}
                                <li><a href="#">{{ item.nom|truncatewords:'1' }}, </a></li>
                                 {% endfor %}
                            </ul>
                        </div>

                        <!-- Instagram -->
                        <div class="single-widget-area mb-100 clearfix">
                            <h4 class="widget-title mb-30">Instagram</h4>
                            <!-- Instagram Feeds -->
                            <ul class="instagram-feeds">
                                <li><a href="#"><img src="/static/img/bg-img/33.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/static/img/bg-img/34.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/static/img/bg-img/35.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/static/img/bg-img/36.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/static/img/bg-img/37.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/static/img/bg-img/38.jpg" alt=""></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
  

{% endblock %}