{% extends 'bases/base.html' %}
{% block content %}


    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(/static/img/bg-img/17.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <div class="breadcrumb-post-content">
                            <h2 class="post-title">15 Best Interior Design WordPress Themes</h2>
                            <div class="post-meta">
                                <a href="#" class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> Jan 02, 2019</a>
                                <a href="#" class="post-author"><i class="fa fa-user" aria-hidden="true"></i> by Joe Fylan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->

    <!-- Blog Area Start -->
    <div class="roberto-news-area section-padding-100-0">
        <div class="container">
            {% for item in article%}
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail mb-50">
                        <img src="{{ item.image.url }}" alt="">
                    </div>
                    <!-- Blog Details Text -->
                    <div class="blog-details-text">
                        <p>{{ item.content }}</p>
                        <!-- Blockquote -->
                    
                    </div>

                    <!-- Post Author Area -->
                    <div class="post-author-area d-flex align-items-center justify-content-between mb-50">
                        <ul class="popular-tags">
                            {% for item in categorie %}
                            <li><a href="#">{{ item.nom|truncatewords:'1' }}, </a></li>
                            {% endfor %}
                        </ul>

                        <!-- Author Social Info -->
                        <div class="author-social-info d-flex align-items-center">
                            <p>Share:</p>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Comments Area -->
                    <div class="comment_area mb-50 clearfix">
                        <h2>02 Comments</h2>

                       

                        <ol>
                            
                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                {%for item in commentaire %}
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">
                                        <img src="{{ item.image.url }}" alt="author">
                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="post-date">{{ item.date_add| date:"M d , Y"}}</a>
                                        <h5>{{ item.user }}</h5>
                                        <p>{{ item.content }}</p>
                                        <a href="#" class="like">Like</a>
                                        <a href="#" class="reply">Reply</a>
                                    </div>
                                    
                                </div>
                                {%endfor %}
                                
                            </li>

                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">
                                        <img src="/static/img/bg-img/42.jpg" alt="author">
                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="post-date">27 Aug 2018</a>
                                        <h5>Lander Tea</h5>
                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetu adipisci velit, sed quia non numquam eius modi</p>
                                        <a href="#" class="like">Like</a>
                                        <a href="#" class="reply">Reply</a>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>

                    <!-- Leave A Reply -->
                    <div class="roberto-contact-form mt-80 mb-100">
                        <h2>Leave A Comment</h2>

                        <!-- Form -->
                        <form action="" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <input type="text" name="name" class="form-control mb-30" placeholder="Your Name">
                                </div>
                                <div class="col-12">
                                    <input type="email" name="email" class="form-control mb-30" placeholder="Email">
                                </div>
                                <div class="col-12">
                                    <input type="text" name="website" class="form-control mb-30" placeholder="Websites">
                                </div>
                                <div class="col-12">
                                    <textarea name="message" class="form-control mb-30" placeholder="Start the discussion..."></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn roberto-btn btn-3 mt-15">Post Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="roberto-sidebar-area pl-md-4">

                        <!-- Newsletter -->
                        <div class="single-widget-area mb-100">
                            <div class="newsletter-form">
                                <h5>Newsletter</h5>
                                <p>Subscribe our newsletter gor get notification new updates.</p>

                                <form action="#" method="post">
                                    <input type="email" name="nl-email" id="nlEmail" class="form-control" placeholder="Enter your email...">
                                    <button type="submit" class="btn roberto-btn w-100">Subscribe</button>
                                </form>
                            </div>
                        </div>

                        <!-- Recent Post -->
                        <div class="single-widget-area mb-100">
                            <h4 class="widget-title mb-30">Recent News</h4>

                            {% for item in newsarticle %}
                            {% if forloop.counter >= 2 %}
                            {% if forloop.counter <= 5 %}
                            <!-- Single Recent Post -->
                            <div class="single-recent-post d-flex">
                                <!-- Thumb -->
                                <div class="post-thumb">
                                    <a href="{% url 'singleblog' item.id %}"><img src="{{ item.image.url }}" alt=""></a>
                                </div>
                                <!-- Content -->
                                <div class="post-content">
                                    <!-- Post Meta -->
                                    <div class="post-meta">
                                        <a href="#" class="post-author">J{{ item.date_add| date:"M d , Y"}}</a>
                                        <a href="#" class="post-tutorial">{{ item.categorie.nom|truncatewords:'1' }}</a>
                                    </div>
                                    <a href="{% url 'singleblog' item.id %}" class="post-title">{{ item.titre }}</a>
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>

                        <!-- Popular Tags -->
                        <div class="single-widget-area mb-100 clearfix">
                            <h4 class="widget-title mb-30">Tags</h4>
                            <!-- Popular Tags -->
                            <ul class="popular-tags">
                                {% for item in tags %}
                                {% if forloop.counter <= 10 %}
                                <li><a href="#">{{ item.nom|truncatewords:'1'}},</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- Instagram -->
                        <div class="single-widget-area mb-100 clearfix">
                            <h4 class="widget-title mb-30">Instagram</h4>
                            <!-- Instagram Feeds -->
                            <ul class="instagram-feeds">
                                <li><a href="#"><img src="/static/img/bg-img/33.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/static/img/bg-img/34.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/static/img/bg-img/35.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/static/img/bg-img/36.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/static/img/bg-img/37.jpg" alt=""></a></li>
                                <li><a href="#"><img src="/static/img/bg-img/38.jpg" alt=""></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Blog Area End -->

{% endblock %}